In [ ]:
# liberaries toolkits
import zipfile
import pandas as pd
import kagglehub
import os
import kaggle

In [ ]:
# Download the dataset from Kaggle
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
Downloading london-bike-sharing-dataset.zip to d:\Admin\Documents\London bike sharing(TFL Dataset)

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 508kB/s]
100%|██████████| 165k/165k [00:00<00:00, 500kB/s]

In [ ]:
# Unzip the downloaded file
zip_filename = "london-bike-sharing-dataset.zip"
with zipfile.ZipFile(zip_filename, 'r') as file:
    file.extractall()

In [ ]:
# Load the dataset using kagglehub
from kagglehub import KaggleDatasetAdapter
# Set the path to the file you'd like to load
file_name ="london_merged.csv"

# Load the latest version
df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "hmavrodiev/london-bike-sharing-dataset",
  file_name
)
# Display the first 5 records
print("First 5 records:", df.head())

First 5 records:              timestamp  cnt   t1   t2    hum  wind_speed  weather_code  \
0  2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0
1  2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0
2  2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0
3  2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0
4  2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0

   is_holiday  is_weekend  season
0         0.0         1.0     3.0
1         0.0         1.0     3.0
2         0.0         1.0     3.0
3         0.0         1.0     3.0
4         0.0         1.0     3.0

In [ ]:
# Create a copy of the dataframe
bike = df.copy()

In [ ]:
bike.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [ ]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [31]:
bike.shape

(17414, 10)

In [ ]:
# counting columns values
bike.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [33]:
bike.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [ ]:
# Rename columns for better understanding
new_col_dict = {
    "timestamp":"time",
    "cnt":"count",
    "t1":"temp_real_c",
    "t2":"temp_feel_c",
    "hum":"humidity_percent",
    "wind_speed":"wind_speed_kmh",
    "weather_code":"weather",
    "is_holiday":"is_holiday",
    "is_weekend":"is_weekend",
    "season":"season",
}
bike.rename(columns=new_col_dict, inplace=True)
bike.head()

,time,count,temp_real_c,temp_feel_c,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [ ]:
# Convert humidity from percentage to a fraction
bike.humidity_percent = bike.humidity_percent / 100
bike.head()

,time,count,temp_real_c,temp_feel_c,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [ ]:
# Map season to descriptive labels
seson_dict = {
    "0.0":"spring",
    "1.0":"summer",
    "2.0":"autumn",
    "3.0":"winter"
}
# Map weather codes to descriptive labels
weather_dict = {
    "1.0":"clear",
    "2.0":"scattered_clouds",
    "3.0":"broken_clouds",
    "4.0":"cloudy",
    "7.0":"rain",
    "10.0":"rainwith_thunder",
    "26.0":"snowfall"
}
# Convert season column to string type
bike.season = bike.season.astype('str')
# Map season values to descriptive labels
bike.season = bike.season.map(seson_dict)
# Convert weather column to string type
bike.weather = bike.weather.astype('str')
# Map weather values to descriptive labels
bike.weather = bike.weather.map(weather_dict)

In [37]:
bike.head()

,time,count,temp_real_c,temp_feel_c,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken_clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [ ]:
# Write the cleaned dataframe to an Excel file . that we will use in Tableau vizualizations
bike.to_excel("london_bije_final.xlsx",sheet_name='Data')